// nextflow.config

params {
    // Merizo Params
    merizo_repo = '/path/to/merizo/repo'
    work_dir = '/path/to/working/dir'
    merizo_extra_args = ''

    // Chainsaw Params
}


// Executor and resource settings (optional)
process {
    withName:MERIZO_RUN {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
}

// Container or conda environment (optional)
process {
    withName:MERIZO_RUN {
        // Uncomment and set if using containers
        // container = 'docker://your_image:tag'
        // or conda = 'bioconda::your_tool=1.0.0'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}
