manifest {
    name        = 'hllelli/FoldSeekStrucAnnoFlow'
    description = 'A Nextflow pipeline for structural annotation by splitting protein structures into domains and running FoldSeek.'
    author      = 'Luc Elliott'
    maintainer = 'Luc Elliott'
    version     = '1.0.0'
}

params {
    // FoldSeekStrucAnnoFlow specific params
    input_structures_zip = null   // Path to zip file containing input PDB structures
    output_dir = null          // Output directory for results
    singularity_image_dir = "/mnt/sdd1/luc/singularity_images" // Directory containing Singularity images


    // Domain-annotation-pipeline default params, adapted from https://github.com/UCLOrengoGroup/domain-annotation-pipeline/blob/main/nextflow.config
    project_name = 'FoldSeekStrucAnnoFlow_run'
    min_chain_residues = 25
    chunk_size = 5
    heavy_chunk_size = 5        // For chainsaw, merizo
    light_chunk_size = 10       // For quick processes
    max_entries = null          // Added to supress warnings
    uniprot_csv_file = "${baseDir}/external/domain-annotation-pipeline/assets/bfvd/test_bfvd.ids"
    pdb_zip_file = null           // Path to zip file containing PDB structures
    cleanup = true
    debug = false
    USE_GPU = true
    foldseek_db_names = [
        // "afdb_swissprot",
        // "cath50"
        // "teddb",
        "cath_v4_4_0_s95_db",
    ]





    unidoc_dir = "${baseDir}/tools/UniDoc"
    pdb_dir = "./results/pdbs"

    // Container external scripts
    chop_pdb_script = "python3 ./external/domain-annotation-pipeline/docker/script/chop_pdbs.py"
    cif_to_pdb_script = "python3 ./bin/cif_to_pdb.py"

    // Container built-in scripts
    chainsaw_script = "python3 ${baseDir}/tools/chainsaw/get_predictions.py"
    merizo_script = "python3 ${baseDir}/tools/Merizo/predict.py"
    unidoc_script = "python3 ${baseDir}/tools/UniDoc/Run_UniDoc_from_scratch_structure.py"
    prefilter_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
    getconsensus_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
    postfilter_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
    convert_script = "python3 ${baseDir}/tools/convert_merizo_unidoc_files.py"
    combine_script = "python3 ${baseDir}/tools/combine_results.py"
    // chop_pdb_script = "python3 ${baseDir}/tools/chop_pdbs.py"
    stride_summary_script = "python3 ${baseDir}/tools/create_stride_summary.py"
    //md5_script = "python3 ${baseDir}/tools/pdb_to_md5.py"
    transform_script = "python3 ${baseDir}/tools/transform_consensus.py"
    globularity_script = "cath-af-cli measure-globularity"
    plddt_script = "python3 ${baseDir}/tools/fetch_avg_plDDT.py"
    // combine_final_script = "python3 ${baseDir}/tools/combine_results_final.py"
    run_segmentation_script = "bash ${baseDir}/tools/ted-tools/ted_consensus_1.0/run_segmentation.sh"
    // URLs to download target_db and lookup_file if not already present
    // auto_fetch_foldseek_assets = truea
    //  Foldseek params
    foldseek_databases_dir = "/mnt/sdd1/luc/foldseek_dbs"
    // foldseek_assets_dir = "${projectDir}/../foldseek/assets"
    // // foldseek_db_id = foldseek_db_url.md5()
    // // foldseek params
    // cache_dir="${foldseek_assets_dir}/${foldseek_db_id}"
    // outdir = "${projectDir}/foldseek_results"
    parser_script = "${projectDir}/external/domain-annotation-pipeline/foldseek/bin/format_fs_output.py"
    foldseek_exec = 'foldseek'  // Foldseek is in path in container profiles
    T_EVALUE_THRESHOLD = 0.476641
    H_COVERAGE_THRESHOLD = 0.459063
    lookup_file = "${projectDir}/assets/CathDomainList.S95.v4.4.0" // Double check if this is the same as the db I'm using
    combine_script_path = "${projectDir}/external/domain-annotation-pipeline/docker/script/combine_results_final.py"
 
    
}

profiles {
    // benchmark set of 154 TED uniprot ids
    benchmark_test {
        params {
            project_name = 'benchmark_test'
            chunk_size = 20
            light_chunk_size = 20
            heavy_chunk_size = 5
            uniprot_csv_file ="${baseDir}/../assets/uniprot_ids_ted.csv" //uniprot_ids_ted_only2.csv
            pdb_zip_file ="${baseDir}/../assets/ted_benchmark.zip"
        }
    }
    

    // Default profile (no changes)
    standard {
        params {
            project_name = 'standard_run'
            chunk_size = 5
            light_chunk_size = 25
            heavy_chunk_size = 1
            uniprot_csv_file = "${baseDir}/domain-annotation-pipeline/assets/uniprot_ids.csv"
            pdb_zip_file = "${baseDir}/domain-annotation-pipeline/assets/bfvd.zip"
        }
    }

    // Debug mode — quick runs with small data
    debug {
        params {
            project_name = 'debug_run'
            debug = true
            chunk_size = 2
            max_entries = 5
        }
    }

 
    docker {
        includeConfig "${baseDir}/../conf/container.config"
        includeConfig "${baseDir}/../conf/docker.config"
	    runOptions = "-u 1000:1000"
    }
    // singularity profile
    singularity_local {
        includeConfig "${baseDir}/../conf/container.config"
        includeConfig "${baseDir}/../conf/singularity.config"
	    cacheDir = "/mnt/sdd1/luc/singularity_images"
        singularity.enabled = true


	process{
        executor = 'local'
		}
    }

    singularity_slurm {
        includeConfig "${baseDir}/../conf/container.config"
        includeConfig "${baseDir}/../conf/singularity.config"
        cacheDir = "/mnt/sdd1/luc/singularity_images"
        singularity.enabled = true

            process{
            executor = 'slurm'
            } 
    
   }
}
