manifest {
    name        = 'hllelli/FoldSeekStrucAnnoFlow'
    description = 'A Nextflow pipeline for structural annotation by splitting protein structures into domains and running FoldSeek.'
    author      = 'Luc Elliott'
    maintainer = 'Luc Elliott'
    version     = '1.0.0'
}

// nextflow.config

params {
    // Merizo Params
    merizo_repo = '/home/luc/luc/dev/Merizo'
    work_dir = "${baseDir}/work"
    merizo_extra_args = ''
    cpu=false
    gpu=true

    // Chainsaw Params

    chainsaw_repo = '/home/luc/luc/dev/chainsaw'
    chainsaw_extra_args = ''

    
}


// Executor and resource settings (optional)
process {
    withName:MERIZO_RUN {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
}


profiles {
    standard {
        process.executor = 'local'
        workDir = "${baseDir}/work"

    }
    slurm {
        process.executor = 'slurm'
    }
}
