manifest {
    name        = 'hllelli/FoldSeekStrucAnnoFlow'
    description = 'A Nextflow pipeline for structural annotation by splitting protein structures into domains and running FoldSeek.'
    author      = 'Luc Elliott'
    maintainer  = 'Luc Elliott'
    version     = '1.0.0'
}

params {
    // FoldSeekStrucAnnoFlow specific params
    input_structures_zip = null
    output_dir = null
    singularity_image_dir = "/mnt/sdc1/luc/singularity_images"

    project_name = 'FoldSeekStrucAnnoFlow_run'
    min_chain_residues = 25
    chunk_size = 5
    heavy_chunk_size = 5
    light_chunk_size = 10
    max_entries = null
    uniprot_csv_file = "${projectDir}/external/domain-annotation-pipeline/assets/bfvd/test_bfvd.ids"
    pdb_zip_file = null
    cleanup = true
    debug = false
    USE_GPU = true
    foldseek_db_names = [
        "cath_v4_4_0_s95_db",
       "afdb_swissprot",
       "PfamSDB",
       "afdb50",
       "pdb",
    ]

    unidoc_dir = "${projectDir}/tools/UniDoc"
    pdb_dir = "./results/pdbs"

    // Container external scripts
    chop_pdb_script = "python3 ${projectDir}/external/domain-annotation-pipeline/docker/script/chop_pdbs.py"
    cif_to_pdb_script = "python3 ${projectDir}/bin/cif_to_pdb.py"
    zip_to_ids_script = "python3 ${projectDir}/bin/unzip_file_list.py"
    extract_structure_script = "python3 ${projectDir}/bin/extract_structures_from_zip.py"

    // Container built-in scripts
    chainsaw_script = "python3 ${projectDir}/tools/chainsaw/get_predictions.py"
    merizo_script = "python3 ${projectDir}/tools/Merizo/predict.py"
    unidoc_script = "python3 ${projectDir}/tools/UniDoc/Run_UniDoc_from_scratch_structure.py"
    prefilter_script = "python3 ${projectDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
    getconsensus_script = "python3 ${projectDir}/tools/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
    postfilter_script = "python3 ${projectDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
    convert_script = "python3 ${projectDir}/tools/convert_merizo_unidoc_files.py"
    combine_script = "python3 ${projectDir}/tools/combine_results.py"
    stride_summary_script = "python3 ${projectDir}/bin/summarise_stride.py"
    transform_script = "python3 ${projectDir}/bin/transform_consensus.py"
    globularity_script = "cath-af-cli measure-globularity"
    plddt_script = "python3 ${projectDir}/tools/fetch_avg_plDDT.py"
    run_segmentation_script = "bash ${projectDir}/tools/ted-tools/ted_consensus_1.0/run_segmentation.sh"

    foldseek_databases_dir = "/mnt/sdc1/luc/foldseek_dbs"
    parser_script = "${projectDir}/external/domain-annotation-pipeline/foldseek/bin/format_fs_output.py"
    general_parser_script = "${projectDir}/bin/filter_foldseek_results.py"
    foldseek_exec = 'foldseek'
    foldseek_split_memory_limit = "64G"
    T_EVALUE_THRESHOLD = 0.476641
    H_COVERAGE_THRESHOLD = 0.459063
    lookup_file = "${projectDir}/assets/CathDomainList.S95.v4.4.0"
    combine_script_path = "${projectDir}/external/domain-annotation-pipeline/docker/script/combine_results_final.py"
}

profiles {
    singularity_local {
        includeConfig "${projectDir}/../conf/singularity.config"
        includeConfig "${projectDir}/../conf/container.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir 
            runOptions = "--bind ${projectDir}/../bin/ps:/usr/bin/ps --bind ${projectDir}/../bin/ld-musl-x86_64.so.1:/tmp/pslib/ld-musl-x86_64.so.1 --bind ${projectDir}/../bin/libintl.so.8:/tmp/pslib/libintl.so.8 --bind ${projectDir}/../bin/libproc2.so.1:/tmp/pslib/libproc2.so.1 --bind ${projectDir}/../bin/libskarnet.so.2.14:/tmp/pslib/libskarnet.so.2.14 --bind ${projectDir}/../bin/libutmps.so.0.1:/tmp/pslib/libutmps.so.0.1 --bind ${projectDir}/../bin/ps-real:/tmp/ps"
        }
        process {
            executor = 'local'
        }
    }

    singularity_slurm {
        includeConfig "${projectDir}/../conf/singularity.config"
        includeConfig "${projectDir}/../conf/container.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir
            runOptions = "--bind ${projectDir}/../bin/ps:/usr/bin/ps --bind ${projectDir}/../bin/ld-musl-x86_64.so.1:/tmp/pslib/ld-musl-x86_64.so.1 --bind ${projectDir}/../bin/libintl.so.8:/tmp/pslib/libintl.so.8 --bind ${projectDir}/../bin/libproc2.so.1:/tmp/pslib/libproc2.so.1 --bind ${projectDir}/../bin/libskarnet.so.2.14:/tmp/pslib/libskarnet.so.2.14 --bind ${projectDir}/../bin/libutmps.so.0.1:/tmp/pslib/libutmps.so.0.1 --bind ${projectDir}/../bin/ps-real:/tmp/ps"
            
        }
        process {
            executor = 'slurm'
        }
        
    }
}

